node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
*.iml
*.log
android/app/build/
android/build/
ios/Pods/
ios/build/
*.keystore
.expo/
*.swp
.DS_Store
**/dist
**/build
